.grid{
    display:flex;
    margin: auto;
    flex-wrap: wrap;
    height:300px;
    width: 400px;
}

h3{
    font-size: 30px;
    font-weight: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}